h1, p {
    font-family: Lato;
  }
  
  html,body{
    background-color: #32C850;
    top: 0;
    left:0;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 330px;
  }
  
  .loading{
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    background-color: #ffffff;
  }
  .loader{
    top: 50%;
    left: 50%;
    width:50px;
    height:50px;
    border: 1px solid #32C850;
    border-top: 1px solid #ffffff;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin{
    0% {transform :rotate(0deg);}
    100% {transform :rotate(360deg);}
  }
  
  .main{
    margin-left: 20px !important;
    padding-top: 20px !important;
    color: #32C850 !important;
  }
  
  .title{
    color: #32C850;
    color: #32C850 !important;
  }
  .grid-items-converter{
    margin-left: 20px;
  }
  .grid-items-recents{
    padding: 20px 0 0 20px;
    overflow: auto;
    height: 450px;
  }
  
  .grid-items-graph{
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px 20px 0;
  }
  
  .text-field{
    width: 100%;
  }
  
  .select-items{
    width: 100%;
  }
  
  .grid-button{
    margin: 20px 0 !important;;
    text-align: center !important;
  }
  
  .button{
    background-color: #32C850 !important;
    color: #ffffff !important;
  }
  
  .result{
    margin: 10px 0;
    width: 100%;
  }
  
  .error{
    color: #ff3d00;
    margin-top: 10px;
  }
  
  .loading-button{
    text-align: center;
    margin-left: 50%;
  }
  
  .time-labels{
    text-align: right;
  }
  
  .data{
    border: 5px solid #32C850;
  }
  
  .chart{
    overflow: auto;
    padding: 0px;
    margin-top: 1px !important;
  }
  
  .empty-text{
    top: 10px;
  }