.phrase-area {
  width: 75%;
  background-color: #889e81;
  display: flex;
  height: 50px;
  border-radius: 10px;
  margin: 20px auto;

  .row {
    width: 100%;
    margin: 0;

    .col {
      margin-top: 15px;
      .phrase-item {
        margin: 7px;
        padding: 3px;
        border-right: 2px solid #333333;
        border-bottom: 1.5px solid #333333;
        border-left: 0.5px solid #333333;
        border-top: 0.5px solid #333333;
        background-color: #f9fcfb;
      }
    }
  }
}
