
.userInput{
    width:50%;
    margin:20px auto;
    text-align:center;
    font-size:20px;
    
}

.startBtn{
    font-size:20px;
    border-radius:20px;
    padding: 5px 30px;
    background-color:#889e81;
    border: white;

    &:hover{
        background-color:lighten(#889e81, 10%);  
    }
}

img{
    display:block;
    position:absolute;
    left: 10%;
    top: 5%;
}